:3003 {
    # 1. Semua request yang diawali /api/ akan dilempar ke backend
    handle /api/* {
        reverse_proxy sge-backend:8001
    }

    # 2. Sisanya (frontend)
    handle {
        root * /srv
        try_files {path} {path}.html /pages/login.html
        file_server
    }
}
